.section__title-left {
	position: absolute;
    top: -47px;
    left: 50px;
    background-color: black;
    color: white;
    padding: 10px 50px;
    @include screen-xs {
        width: 80%;
        text-align: center;
        left: 10%;
    }
}

.section__title-center{
	position: absolute;
    top: -47px;
    left: 43%;
    background-color: black;
    color: white;
    padding: 10px 50px;
    @include screen-xs {
        width: 80%;
        text-align: center;
        left: 10%;
    }
}

.section__about {
    background-color: lighten($green, 50%);
}