.section__title-left {
	position: absolute;
    top: -47px;
    left: 50px;
    width: 25%;
    background-color: black;
    color: white;
    padding: 10px 50px;
    @include screen-xs {
        width: 80%;
        text-align: center;
        left: 10%;
    }
}

.section__title-center{
	position: absolute;
    top: -47px;
    background-color: black;
    color: white;
    padding: 10px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    text-align: center;
    @include screen-xs {
        width: 80%;
        text-align: center;
        left: 10%;
        right: initial;
        margin-right: initial;
        margin-left: initial;
    }
}

.section__about,
.section__tags {
    background-color: lighten($grey, 15%);
}

.section__about {

    img {
        @include screen-xs {
            display: block;
            margin: 0 auto 50px;
        }
    }

}

.section__grey {
    background-color: $grey;
}

.section__white {
    background-color: $white;
}

.section__training {
    background-color: $white;
}

.section__skills {
    background-color: $grey;
}

.section__experience {
    background-color: lighten($grey, 15%);
}

.section__bc {
    background-color: $grey;
}

.section__featured {
    background-color: lighten($grey, 15%);
}


.posts__wrapper {
    position: relative;
    text-align: center;
}

.post__preview {
    width: 30%;
    //margin: 0 14px 60px 14px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: relative;
    @include screen-sm {
        width: 50%;
    }
    @include screen-xs {
        width: 100%;
    }
}

.tag__wrapper {
    text-align: center;
}

.img-sq-wrapper {
    height: 200px;
    width: 200px;
    overflow: hidden;
    @include screen-xs {
        width: 300px;
        height: 300px;
        margin: 0 auto 60px;
       
    }
}