.section__title-left {
	position: absolute;
    top: -47px;
    left: 50px;
    background-color: black;
    color: white;
    padding: 10px 50px;
    @include screen-xs {
        width: 80%;
        text-align: center;
        left: 10%;
    }
}

.section__title-center{
	position: absolute;
    top: -47px;
    left: 43%;
    background-color: black;
    color: white;
    padding: 10px 50px;
    @include screen-xs {
        width: 80%;
        text-align: center;
        left: 10%;
    }
}

.section__about,
.section__tags {
    background-color: lighten($green, 50%);
}

.section__about {
    img {
        @include screen-xs {
            display: block;
            margin: 0 auto 50px;
        }
    }

}

.section__training {
    background-color: $white;
}

.section__bc {
    background-color: lighten($pink, 15%);
}

.section__featured {
    background-color: lighten($grey, 15%);
}


.posts__wrapper {
    position: relative;
    text-align: center;
}

.post__preview {
    width: 30%;
    //margin: 0 14px 60px 14px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: relative;
}

.tag__wrapper {
    text-align: center;

}