h1, h2, h3 {
	clear: both;
	font-family: $font__accent;
	font-style: italic;
}

h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h5, h6 {
	font-weight: 700;
}

.featured-title {
	margin-top: 0px;
}

.featured-date {
	margin-bottom: 0px;
}