// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Media Queries

@mixin screen-xxs {
  @media (#{$screen-xxs}) {
    @content;
  }
}

@mixin screen-xs {
  @media (#{$screen-xs}) {
    @content;
  }
}

@mixin screen-sm {
  @media (#{$screen-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (#{$screen-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (#{$screen-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (#{$screen-xl}) {
    @content;
  }
}

@mixin screen-ltmd  {
  @media (#{$screen-ltmd}) {
    @content;
  }
}

@mixin screen-ltlg  {
  @media (#{$screen-ltlg}) {
    @content;
  }
}

@mixin screen-ltxl  {
  @media (#{$screen-ltxl}) {
    @content;
  }
}

@mixin screen-gtxs  {
  @media (#{$screen-gtxs}) {
    @content;
  }
}

@mixin screen-gtsm  {
  @media (#{$screen-gtsm}) {
    @content;
  }
}

@mixin screen-gtmd  {
  @media (#{$screen-gtmd}) {
    @content;
  }
}
