ul, ol {
	margin: 0 0 1.5em 1em;
	-webkit-padding-start: 0px;
	font-size: 16px;

}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
	font-size: 16px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.list__inline {
	display: inline-block;
	li {
		display: inline;
	}
}

.list__ul--nostyle {
	list-style: none; 
}