ul, ol {
	margin: 0 0 1.5em 1em;
	-webkit-padding-start: 0px;
	font-size: 18px;

}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}


li {
	margin-bottom: 10px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.list__inline {
	display: inline-block;
	li {
		display: inline;
	}
}

.list__ul--nostyle {
	list-style: none; 
}