$pink: #ff4081;
$green: #09b218;
$black: #0f0f0f;
$white: #f3f3f3;
$grey: #9e9d9d;



$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $black;
$color__text-input: $grey; 
$color__text-input-focus: #111;
$color__link: $pink;
$color__link-visited: darken($pink, 15%);
$color__link-hover: darken($pink, 15%);
$color__text-main: $black;

$color__border-button: $pink;
$color__border-button-hover: $pink;
$color__border-button-focus: $pink;
$color__border-input: $grey;
$color__border-abbr: $grey;

