
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}

.navbar-default .navbar-nav>li>a:hover  {
	color: $white;
}

.navbar-default .navbar-nav>li>a {
  	position:relative;
  	z-index: 1;
}

.navbar-default .navbar-nav>li>a:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: '';
	background: $black;
	visibility: none;
	opacity: 0;
	z-index: -1;
}
.navbar-default .navbar-nav>li>a:hover:after {
	opacity: 1;
	visibility: visible;
	height: 100%;
}


.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: $pink;
	background-color: $white;


}




