.slider__single, .project__single {
	position: relative;
	img {
		display: block;
		height: 200px;
		width: 200px;
		border-radius: 50%;
		margin: 15px auto;
	}

	h3, h5 {
		text-align: center;
		color: $black; 
	}

	h3 {
		margin-top: 0px;
	}

	.project__overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		visibility: none;
		opacity: 0;
		width: 80%;
		height: 0%;
		background-color: rgba(255, 64, 129, 0.5);
		position: absolute;
		bottom: 0;
		left: 10%;
		transition: all .5s ease-in-out;
	}

	&:hover {
		.project__overlay {
			height: 100%;
			visibility: visible;
			opacity: 1.0;
		}

	}
}

.single__gallery {
	height: 400px;
	width: 100%;
	overflow: hidden;
	img {
		width: 75%;
    	display: block;
    	margin: 0 auto;
	}
	@include screen-sm {
		height: auto;
	}
	@include screen-xs {
		height: auto;
	}
}



.slick-prev:before {
    content: url('./images/arrow-l.svg');
    right: 0px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.slick-next:before {
	content: url('./images/arrow-r.svg');
	left: 0px;
	position: relative;
	transition: all .5s ease-in-out;
}

.slick-next, .slick-prev {
	width: 75px;
}

.slick-next {
	transition: all 0.5s ease-in-out;
	&:hover {
		&:before {
			left: 15px;
		}
	}
}

.slick-prev {
	transition: all 0.5s ease-in-out;
	&:hover {
		&:before {
			right: 15px;
		}
	}

}



.slick-dots {
	bottom: -65px;
	margin-left: -15px;
}

.slick-dots li {
	width: 35px;
	height: 35px;
	margin: 0px 11px;
}

.slick-dots li button::before {
	content: '';
    background-color: $grey;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
	background-color: transparent;
	border: 2px solid $pink;
}






