.site-header {
	padding: 10px 0;
    float: left;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: transparent;
    height: 75px;
    //opacity: 0.6;
}



.site-branding {
	@include screen-xs {
		float: left;
		margin-left: 10px;
	}
}

.navbar-header {
	// display: flex;
	// width: 100%;
	// justify-content: space-between;
}

.navbar-brand {
	font-family: $font__display;
	margin-top: -20px;
	@include screen-xs {
		margin-top: 0px;
	}
}

.navbar-default .navbar-brand {
	color: $color__text-screen;
	font-size: 28px;
	@include screen-xs {
		font-size: 18px;
	}
	
}

.navbar-default .navbar-nav>li>a {
	color: $color__text-screen;
	text-transform: uppercase;
	letter-spacing: 1px;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 15px;
    &:first-of-type {
    	margin-right: 15px;
    }

}


.navbar-default .navbar-toggle .icon-bar {
	background-color: $grey;
	width: 30px;
	height: 3px;
	transition: all 0.25s ease-in-out;
	
}

.navbar-toggle {
	border: none;
	&:hover, &:focus {
		background-color: transparent !important;
		.icon-bar {
			background-color: $pink;
			// &:nth-of-type(2) {
			// 	-webkit-transform: rotate(45deg);
			// }
			// &:nth-of-type(3) {
			// 	display: none;
			// }
			// &:nth-of-type(4) {
			// 	-webkit-transform: rotate(-45deg);
			// }
		}

	}
}

.main-navigation.toggled ul {
	@include screen-xs {
		background-color: $black;
		margin-top: 0px;
		padding: 20px 0px;
		li>a {
			color: $white;
			&:hover {
				color: $pink;
			}
		}
	}
}

.main-navigation.toggled {
	.icon-bar {
		&:nth-of-type(2) {
				transform: rotate(45deg);
				position: relative;
    			top: 6px;
			}
			&:nth-of-type(3) {
				display: none;
			}
			&:nth-of-type(4) {
				transform: rotate(-45deg);
			}
	}
}

